.footer{
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    justify-self: flex-end;
    margin: 0rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:0;
}

.footer p{
    padding-left: 0.5rem;
}
/* <div class="footer"><p>© 2025 Solvemate</p></div>   Html code to be included*/