#loadingBox{
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#loadingBox.show {
    display: flex;
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loading{
    width:15rem;
    height:10rem;
    background-color: rgb(253, 240, 216);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     font-family: 'Segoe UI', sans-serif;
     font-weight: bold;
     border-radius: 1rem;
}

/* //codelessly loader style */
.ui-loader {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.loader-blk {
  color: #3f51b5;
  animation: rotate-outer08 1.4s linear infinite;
}

.multiColor-loader {
  display: block;
  animation: color-anim08 1.4s infinite;
}

.loader-circle {
  stroke: currentColor;
}

.MuiCircularProgress-circleStatic {
  transition: stroke-dashoffset 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.loader-circle-animation {
  animation: rotate-inner08 1.4s ease-in-out
    infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
}

@keyframes rotate-outer08 {
  0% {
    transform-origin: 50% 50%;
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-inner08 {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes color-anim08 {
  0% {
    color: #ff0000;
  }

  25% {
    color: #d2ce00;
  }

  50% {
    color: #46c700;
  }

  75% {
    color: #007fce;
  }
}


