*{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
}
body{
    min-height: 100vh;
    padding-top: 5rem;
    height:fit-content;
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: #FAF3E7;
    justify-content: space-between;
    align-items: center;
    padding-top:5rem;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:90%;
    margin:0;
}
.nav {
   position: fixed;
    top:0;
    width:100%;
    left:0;
    height:3rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    border:none;
}
.nav img{
    height:100%;
}
h1{
    margin:0px;
    height:fit-content;
}
#heading{
    margin:0;
    width:100%;
    height:4rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(210, 105, 30,0.1);
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:2rem;
}
.form{
    border:2px solid black;
    background-color: #FDF0D8;
    border-radius: 10px;
    border-color: rgb(200, 170, 0);
    height:fit-content;
    width:42rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.form .buttons{
    display: flex;
    width:60%;
    justify-content: space-evenly;
    height:4rem;
    justify-self:flex-end;
    align-items: center;
}
.form .buttons button{
    border:none;
    color: white;
    cursor: pointer;
    background-color: #3a77db;
    border: 0.125rem solid #3a77db;
    text-align: center;
    height: 2rem;
    border-radius: 0.7rem;
    transition: 0.2s;
    margin:1rem;
    font-size: medium;
    width: fit-content;
    margin:0px;
}
.form .buttons .btn2{
    width:4.67375rem;
}
.form .buttons button:hover{
    transform: scale(1.1);
}
.form .buttons button:active{
    background-color: white;
    color:#3a77db;
}
.input_ele{
    padding:10px;
    height:25%;
    width:70%;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.input_ele input{
    outline: none;
    border:none;
    border-radius: 5px;
    height:2rem;
    width:80%;
}
.input_ele input:hover{
    background-color: rgba(255, 255, 255, 0.5);
   
}
.input_ele input:focus{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom:2px solid #3a77db;
}

table{
    margin-top: 2rem;
    background-color:  #ffffff;
    border-collapse: collapse;
    width:67rem;
} 

th, td {
      border: 1px solid #ccc;
      padding: 8px 12px;
      text-align: center;
    }

th{
    border: 2px solid black;
    background-color: #3a77db;
    color:white;
}
.results{
    margin-top: 2rem;
    padding:0.5rem;
    width:67rem;
    height:fit-content;
    display: flex;
    flex-direction: column;
    background-color: #FDF0D8;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem; 
    border: 2px solid rgb(200, 170, 0);
    min-height: 6rem;
}